<app-header />
    <div class="container mx-auto md:max-w-[60%] my-12 px-4 md:px-0">
        <h2 class="text-3xl font-bold text-blue-950">Our Services</h2>
        <hr>

        <div class="mt-10 space-y-6">
            <div class="space-y-4">
                <h3 class="text-2xl text-blue-950 font-bold">Secure Digital Wallets</h3>
                <p class="text-justify">
                    FirstBlocks offers state-of-the-art digital wallets, ensuring the security 
                    of your assets. Our encrypted wallets provide a safe haven for your digital 
                    currencies, allowing you to manage and transact with confidence.
                </p>
                <hr>
            </div>

            <div class="space-y-4">
                <h3 class="text-2xl text-blue-950 font-bold">Instant Transfers</h3>
                <p class="text-justify">
                    Experience the ease of transactions with FirstBlocks. Our blockchain 
                    technology enables instant and cost-effective cross-border transfers, 
                    eliminating the delays and high fees associated with traditional banking.
                </p>
                <hr>
            </div>

            <div class="space-y-4">
                <h3 class="text-2xl text-blue-950 font-bold">Smart Contract Integration</h3>
                <p class="text-justify">
                    Harness the power of smart contracts for automated and secure financial transactions. 
                    FirstBlocks' innovative platform allows you to create, execute, and manage smart 
                    contracts, streamlining processes and ensuring trust in every transaction.
                </p>
                <hr>
            </div>

            <div class="space-y-4">
                <h3 class="text-2xl text-blue-950 font-bold">Multi-Currency Support</h3>
                <p class="text-justify">
                    Diversify your holdings effortlessly with our support for various digital assets. FirstBlock 
                    allows you to manage multiple currencies within a single platform, providing flexibility 
                    and adaptability to the dynamic world of digital finance.
                </p>
                <hr>
            </div>

            <div class="space-y-4">
                <h3 class="text-2xl text-blue-950 font-bold">Personalized Financial Insights</h3>
                <p class="text-justify">
                    Our commitment to your satisfaction extends to our round-the-clock customer support. 
                    Whether you have inquiries about transactions, account management, or need technical 
                    assistance, our dedicated support team is here to help, ensuring a smooth and seamless 
                    banking experience.
                </p>
                <hr>
            </div>
        </div>
    </div>
<app-footer />