<header>
  <div id="nav-wrapper">
    <nav id="nav">
      <div class="nav left">
        <span class="gradient skew">
          <h1 class="logo un-skew">
            <a routerLink="/">
              <img src="/assets/firstBanklogo-no-bg.png" alt="Logo" />
            </a>
          </h1>
        </span>
        <button (click)="toggleMenu()" id="menu" class="btn-nav px-6 text-white">
          <span class="fas fa-bars"></span>
        </button>
      </div>
      
      <div class="nav right">
        <a routerLink="/" class="nav-link">
          <span class="nav-link-span"><span class="u-nav">Home</span></span>
        </a>
        <a routerLink="/about" class="nav-link">
          <span class="nav-link-span"><span class="u-nav">About</span></span>
        </a>
        <a routerLink="/services" class="nav-link">
          <span class="nav-link-span"><span class="u-nav">Services</span></span>
        </a>
        <a routerLink="/legal" class="nav-link">
          <span class="nav-link-span"><span class="u-nav">Legal</span></span>
        </a>
        <a routerLink="/login" class="nav-link white-bg">
          <span class="nav-link-span"
            ><span class="u-nav">Online Banking</span></span
          >
        </a>
      </div>    
    </nav>
  </div>

  <div [hidden]="!isOpen" class="md:hidden absolute z-50 w-[100%] bg-neutral-900 bg-opacity-55">
    <nav class="flex flex-col p-6 space-y-6">
      <a routerLink="/" class="text-[21px] font-bold">
        Home
      </a>
      <a routerLink="/about" class="text-[21px] font-bold">
        About
      </a>
      <a routerLink="/services" class="text-[21px] font-bold">
        Services
      </a>
      <a routerLink="/legal" class="text-[21px] font-bold">
        Legal
      </a>
      <a routerLink="/login" class="text-[21px] font-bold">
        Online Banking
      </a>
    </nav>
  </div>
</header>
