# Emacs backup files
*~
*#
.#*
# Vim file artifacts
.*.sw*
.DS_Store
.project
# omit Go vendor directories
vendor/
.vscode
.gradle
.idea
# Dependency directories
node_modules/
# Ignore Gradle build output directory
build
package-lock.json

# Eclipse
.classpath
.settings

# installed Fabric binaries etc.
bin/
builders/
config/
external-chaincode/
install-fabric.sh

# override the ignore of all config/ folders
!full-stack-asset-transfer-guide/infrastructure/sample-network/config

full-stack-asset-transfer-guide/

# Ignore test folders
test-network/
asset-transfer-basic/


# Ignore generated artificats and certificates
network/organizations/ordererOrganizations
network/organizations/peerOrganizations
network/log.txt
log.txt
basic.tar.gz
channel-artifacts
network/channel-artifacts
network/*.tar.gz


#ignore precompiled smart contracts
contracts/bank-transactions/dist

