/* card.component.css */
.card {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    border: 2px solid transparent;
  }
  
  .card:hover {
    border-color: var(--hover-border-color);
    box-shadow: 0 0 5px 10px var(--hover-shadow-color);
  }

  .icon {
    padding-right: 1rem;
  }
  
  .icon {
    border-radius: 50%;
    padding: 0.5rem;
    margin: 7px;
  }
  
  .content h4, .content p {
    margin: 0;
  }

  p {
    font-weight: 500;
    font-size: small;
    color: gray;
  }
  
  h4 {
    font-weight: bold;
    font-size: larger;
  }