

<div class="account mx-auto px-4 py-4 sm:px-8 lg:container" [class.blur-effect]="showPopup || showNewModal">
    <app-account-header></app-account-header>
    <div class="flex flex-col sm:flex-row justify-between space-y-4 sm:space-y-0 sm:space-x-4">
        @for(data of info; track data.id) {
            <app-account-info-card [title]="data.title" [description]="data.description" [src]="data.src" [svgBgColor]="data.svgBgColor" [hoverBorderColor]="data.hoverBorderColor" [hoverShadowColor]="data.hoverShadowColor"></app-account-info-card>
    }
    </div>
    <app-send-money (buttonClick)="togglePopup()"></app-send-money>
    <div class="history"> <app-transaction-history></app-transaction-history></div>
   
</div>
<app-sendmoney-popup class="bg-transparent" *ngIf="showPopup" (send)="handleSend()" (closePopup)="showPopup = false"></app-sendmoney-popup>
<app-otp-page *ngIf="showNewModal" (closeNewModal)="showNewModal = false"></app-otp-page>