.payment-card {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    padding: 2rem 4rem 2rem 4rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 2rem;
  }
  

.img {
    border-radius: 50%;
    padding: 0.5rem;
    margin: 7px;
    background-color: rgba(248, 192, 186, 1);
  }

  p {
    font-weight: bold;
    color: gray;
    font-size: small;
  }