#hero-section {
    /* background-image: url("/assets/images/hero-image1.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    animation: zoomAndChangeBackground 15s infinite alternate;
}

@keyframes zoomAndChangeBackground {
    0%, 100% {
        background-image: url("/assets/images/hero-image1.jpg");
        background-size: 100% 100%;
    }
    33% {
        background-image: url("/assets/images/hero-image2.jpg");
        background-size: 120% 120%;
    }
    66% {
        background-image: url("/assets/images/hero-image3.jpg");
        background-size: 100% 100%;
    }
}
