#hero-section {
    background-image: url("/assets/images/homepage-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    animation: zoomAndChangeBackground 15s infinite alternate;
}

@keyframes zoomAndChangeBackground {
    0%, 100% {
        background-image: url("/assets/images/hero-image-1.jpg");
        background-size: 100% 100%;
    }
    33.34% {
        background-image: url("/assets/images/hero-image-2.jpg");
        background-size: 120% 120%;
    }
    66% {
        background-image: url("/assets/images/hero-image-3.png");
        background-size: 100% 100%;
    }
}
