<app-header />
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<div class="login-container">

  
<body>
  <div class="blocks-container">
  <div class="blocks-ad">
        <h1>Lightning Transactions</h1>
        <div class="divider"></div>
        <p>Welcome to the Future <br> Blockchain Driven Banking</p>
    </div>

</div>
   
    <div class="container">
        <div class="design">
            <div class="pill-1 rotate-45"></div>
            <div class="pill-2 rotate-45"></div>
            <div class="pill-3 rotate-45"></div>
            <div class="pill-4 rotate-45"></div>
        </div>
        <div class="login">
            <img src="./assets/images/FirstBlocks.svg" alt="Logo" class="logo">
            <h6 class="title">Sign In With Your Account Details</h6>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" action="">
                <div class="text-input">
                    <i class="ri-user-fill"></i>
                    <input type="text" id="username" class="form-control" placeholder="Username" formControlName="username" />
                </div>
                <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" 
                    style="font-size: smaller; color: red; margin-top: 5px; padding: 2px;">Enter a valid email address</div>
                <div class="text-input">
                    <i class="ri-lock-fill"></i>
                    <input type="password" id="password" class="form-control" placeholder="Password" formControlName="password"  />
                    
                </div>
                <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" 
                    style="font-size: smaller; color: red; margin-top: 5px; padding: 2px;">Please enter a valid password</div>
                <button class="login-btn">LOGIN</button>
            </form>
            <a href="#" class="forgot">Forgot Username/Password?</a>
        </div>
    </div>
</body>
 <div class="footer-container">
  <footer class="p-4 bg-gray-800 text-white text-center">
        <div class="marquee">
            <p class="marquee-text">For all issues and enquiries, kindly send a mail to
                FirstBlocksCustomerCare&#64;firstbanknigeria.com</p>
        </div>

    </footer>
  
 </div>

</div>

