<app-header />
    <div class="container mx-auto md:max-w-[60%] my-12 px-4 md:px-0">
        <h2 class="text-3xl font-bold text-blue-950">Privacy Policy</h2>
        <hr>

        <div class="mt-10 space-y-6">
            <div class="space-y-4">
                <h3 class="text-2xl text-blue-950 font-bold">Information Collection</h3>
                <p class="text-justify">
                    At FirstBlocks, we prioritize the privacy and security of your personal 
                    information. We collect only the necessary data required for providing 
                    our services and improving your user experience. This may include account 
                    details, transaction history, and device information.
                </p>
                <hr>
            </div>

            <div class="space-y-4">
                <h3 class="text-2xl text-blue-950 font-bold">Data Usage</h3>
                <p class="text-justify">
                    Your data is used exclusively for the purpose of facilitating and 
                    enhancing our banking services. We do not share your information with 
                    third parties without your explicit consent unless required by law.
                </p>
                <hr>
            </div>

            <div class="space-y-4">
                <h3 class="text-2xl text-blue-950 font-bold">Security Measures</h3>
                <ul class="text-justify">
                    FirstBlocks employs industry-standard security measures to safeguard your 
                    data against unauthorized access, disclosure, alteration, and destruction. 
                    We continuously update and enhance our security protocols to ensure the 
                    highest level of protection.
                </ul>
                <hr>
            </div>

            <div class="space-y-4">
                <h3 class="text-2xl text-blue-950 font-bold">Cookies</h3>
                <p class="text-justify">
                    We may use cookies to enhance your browsing experience and collect 
                    information about your preferences. You have the option to disable 
                    cookies in your browser settings, but this may affect certain 
                    functionalities of our platform.
                </p>
                <hr>
            </div>
        </div>
    </div>


    <div class="container mx-auto md:max-w-[60%] my-12 px-4 md:px-0">
        <h2 class="text-3xl font-bold text-blue-950">Terms of Use</h2>
        <hr>

        <div class="mt-10 space-y-6">
            <div class="space-y-4">
                <h3 class="text-2xl text-blue-950 font-bold">User Responsibilities</h3>
                <p class="text-justify">
                    By using FirstBlocks, you agree to comply with all applicable laws and regulations. 
                    You are responsible for maintaining the confidentiality of your account 
                    information and for all activities conducted under your account.
                </p>
                <hr>
            </div>

            <div class="space-y-4">
                <h3 class="text-2xl text-blue-950 font-bold">Prohibited Activities</h3>
                <p class="text-justify">
                    Users are prohibited from engaging in any activities that may compromise the security 
                    or integrity of the platform. This includes but is not limited to unauthorized access, 
                    data mining, and any form of fraudulent or illegal activities.
                </p>
                <hr>
            </div>

            <div class="space-y-4">
                <h3 class="text-2xl text-blue-950 font-bold">Platform Changes</h3>
                <ul class="text-justify">
                    FirstBlocks reserves the right to modify, suspend, or discontinue any aspect of the 
                    platform at any time. We will make reasonable efforts to notify users of 
                    significant changes.
                </ul>
                <hr>
            </div>

            <div class="space-y-4">
                <h3 class="text-2xl text-blue-950 font-bold"> Dispute Resolution</h3>
                <p class="text-justify">
                    Any disputes arising from the use of FirstBlocks will be resolved through arbitration 
                    in accordance with [Arbitration Rules] of the [Arbitration Organization]. 
                    Users agree to waive their right to participate in class actions.
                </p>
                <hr>
            </div>
        </div>
    </div>


    <div class="container mx-auto md:max-w-[60%] my-12 px-4 md:px-0">
        <h2 class="text-3xl font-bold text-blue-950">Return Policy</h2>
        <hr>

        <div class="mt-10 space-y-6">
            <div class="space-y-4">
                <h3 class="text-2xl text-blue-950 font-bold">Returns and Refunds</h3>
                <p class="text-justify">
                    FirstBlocks provides a 5-day return policy for eligible products and 
                    services. To initiate a return, users must provide necessary information 
                    and follow the designated process.
                </p>
                <hr>
            </div>

            <div class="space-y-4">
                <h3 class="text-2xl text-blue-950 font-bold"> Eligibility</h3>
                <p class="text-justify">
                    Returns are accepted for products and services that meet the specified 
                    criteria outlined in our return policy. Users are encouraged to review 
                    product descriptions and terms before making a purchase.
                </p>
                <hr>
            </div>

            <div class="space-y-4">
                <h3 class="text-2xl text-blue-950 font-bold">Refund Process</h3>
                <ul class="text-justify">
                    Upon approval of a return, refunds will be processed in accordance with the 
                    original payment method. Please allow 24          hours for the refund to be 
                    reflected in your account.
                </ul>
                <hr>
            </div>

            <div class="space-y-4">
                <h3 class="text-2xl text-blue-950 font-bold">Contact Information</h3>
                <p class="text-justify">
                    For inquiries regarding returns, users can contact our customer support at 
                    +2348100686012. We are dedicated to resolving any concerns promptly 
                    and ensuring a satisfactory customer experience.
                </p>
                <hr>
            </div>
        </div>
    </div>
<app-footer />