/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@keyframes marquee {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  .marquee {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .marquee-text {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 30s linear infinite, blink 1s linear infinite; /* Adjust the duration (10s) as needed */
  }
  

* {
    margin: 0;
    box-sizing: border-box;
}

body {
min-height: 100%;
}

/* Custom Styles */

.open {
    transform: translateX(0);
}

.closed {
    transform: translateX(-100%);
}


