<app-header />
    <div class="container mx-auto md:max-w-[60%] my-12 px-4 md:px-0">
        <h2 class="text-3xl font-bold text-blue-950">About Us</h2>
        <hr>

        <div class="mt-10 space-y-6">
            <div class="space-y-4">
                <h3 class="text-2xl text-blue-950 font-bold">Mission Statement</h3>
                <p class="text-justify">
                    At FirstBlocks, our mission is to revolutionize the banking experience 
                    by leveraging cutting-edge blockchain technology. We are committed to 
                    providing secure, transparent, and efficient financial services that 
                    empower individuals globally. Our aim is to break down traditional 
                    barriers, enabling seamless and affordable access to banking services 
                    while prioritizing user satisfaction and financial well-being.
                </p>
                <hr>
            </div>

            <div class="space-y-4">
                <h3 class="text-2xl text-blue-950 font-bold">Vision Statement</h3>
                <p class="text-justify">
                    FirstBlocks envisions a future where financial inclusion is a reality 
                    for everyone. We strive to be at the forefront of technological innovation, 
                    offering a diverse range of digital banking solutions that adapt to the 
                    evolving needs of our users. Our vision is to create a borderless financial 
                    ecosystem that fosters trust, transparency, and financial empowerment.
                </p>
                <hr>
            </div>

            <div class="space-y-4">
                <h3 class="text-2xl text-blue-950 font-bold">Core Values</h3>
                <ul class="text-justify space-y-4">
                    <li><span class="font-bold text-blue-950">Innovation: </span>We embrace technological advancements to deliver cutting-edge financial solutions.</li>
                    <li><span class="font-bold text-blue-950">Security: </span>Your financial security is our top priority, and we employ robust measures to safeguard your assets.</li>
                    <li><span class="font-bold text-blue-950">Transparency: </span>We believe in openness and transparency, ensuring that every transaction is clear and accountable.</li>
                    <li><span class="font-bold text-blue-950">User-Centricity: </span>FirstBlocks is designed with you in mind, offering a user-friendly interface and personalized services.</li>
                    <li><span class="font-bold text-blue-950">Financial Inclusion: </span>We are dedicated to providing banking services that transcend geographical boundaries, ensuring financial inclusion for all.</li>
                </ul>
                <hr>
            </div>

            <div class="space-y-4">
                <h3 class="text-2xl text-blue-950 font-bold">Our Story</h3>
                <p class="text-justify">
                    Founded on the principles of innovation and user empowerment, FirstBlocks 
                    started as a vision to redefine the banking landscape. Since our inception, 
                    we have strived to create a platform that not only meets but exceeds the 
                    expectations of our users. With a commitment to excellence and a passion 
                    for pushing the boundaries of traditional banking, FirstBlocks continues to 
                    evolve, providing a secure and forward-thinking financial experience.

                    Join us on this journey towards a future where banking is synonymous with 
                    accessibility, security, and innovation. Welcome to FirstBlocks—where the 
                    future of finance begins.
                </p>
                <hr>
            </div>
        </div>
    </div>
<app-footer />