<div class="recent-transactions">
    <h2>Recent Transactions</h2>
    <table>
      @for(transaction of transactions; track $index) {
        <tr>
            <td>{{ $index + 1 }}</td>
            <td>
              <div>{{ transaction.accountName }}</div>
              <div>{{ transaction.date }}</div>
            </td>
            <td>{{ transaction.type }}</td>
            <td>{{ transaction.id }}</td>
            <td [ngStyle]="{'color': transaction.amount > 0 ? 'green' : 'red'}">
              {{ transaction.amount > 0 ? '+' : '' }}{{ transaction.amount | currency }}
            </td>
          </tr>
      }
    </table>
  </div>
  